body{
    background-color: #222930;
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.index2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #474f63;
    border-radius: 15px 50px;
    padding: 15px;
}

.index3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1d24;
    border-radius: 15px;
    padding: 20px;
    margin: 20px
}

.index4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#474f63;
    border-radius: 15px 50px;
    padding: 15px;
}

.idadeField {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoIdade {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1d24;
    border-radius: 4px;
    text-align: center;
    color: #f0f0f0;
    cursor: pointer;
    height: 24px;
    width: 24px;
}
    

.idadeInput {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a1d24;
    border-radius: 4px;
    height: 20px;
    width: 30px;
    text-align: center;
    font-size: 14px;
    padding: 0px 3px;
}
    
 .botaoFinalizar{
    font-family: 'Segoe UI';
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #414462;
    border-radius: 4px;
    text-align: center;
    color: #f0f0f0;
    cursor: pointer;
    height: 24px;
    width: 80px;
}  
    
     
    
   

.periodo{
    color:#f0f0f0 ;
    font-size: 22px;
    font-family: 'Segoe UI';
    font-weight: normal;
}

.gostos{
    color:#f0f0f0 ;
    font-size: 22px;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.nome{
    margin: 20px;
    font-size: 50px;
    font-weight: bolder;
    color: #418de4;
    
}

.lista{
    color:#f0f0f0 ;
    font-size: 22px;
    font-family: 'Segoe UI';
    font-weight: lighter;
    font-size: 22px;
}

.inputField{
    color:#f0f0f0;
    font-family: 'Segoe UI';
    font-weight: bold;
}


